body {
  margin: 0;
  scroll-behavior: smooth;
}
header {
  background-color: #61371E;
  padding: 15px;
}
header ul {
  float: right;
  color: #FFF3F0;
}
a {
  color: #FFF3F0;
  padding: 10px;
  text-decoration: none;
}
.logo {
  width: 5%;
}
.me {
  width: 100%;
}
.orai {
  width: 70%;
}
.bespoke {
  width: 60%;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #FFF3F0;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #B37961;
  color: #61371E;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #FFF3F0;
  color: #61371E;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #61371E;
  padding: 5px;
  color: #FFF3F0;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.flex-container {
  display: flex;
}
.skills {
  background-color: #B37961;
  padding: 100px 15px;
}
h1 {
  text-align: center;
  color: #61371E;
}
.content2 {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFF3F0;
  color: #61371E;
  text-align: center;
}
.row {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #B37961;
  color: #61371E;
  text-align: left;
}
.workHeader {
  text-align: center;
  color: #61371E;
  grid-area: 'workHeader';
}
.workBottom {
  grid-area: 'workBottom';
}
.work {
  background-color: #FFF3F0;
  padding: 100px 15px;
  display: grid;
  row-gap: 15px;
  grid-template-areas: 
  'workHeader workHeader workHeader workHeader'
  'imgColumn textColumn '
  'imgColumn  textColumn'
  'imgColumn  textColumn'
  'workBottom workBottom workBottom workBottom';
}
.imgColumn {
  grid-area: 'imgColumn';
  width: 40%;
}
.textColumn {
  grid-area: 'textColumn';
  width: 60%;
}
h3 {
  text-align: center;
  color: #61371E;
}


@media only screen and (max-width: 600) {
  #work {
    grid-template-areas: 
    'workHeader workHeader workHeader workHeader'
    'imgColumn textColumn '
    'imgColumn  textColumn'
    'imgColumn  textColumn'
    'workBottom workBottom workBottom workBottom';
  }
}
  

